
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

@(ViewBag.ErrorDetails)
<br/>
@if(User.IsInRole("Admin")) {
    @Html.ActionLink("Back to List", (string)ViewBag.ReturnUrl)
}

